<article class="overview">
    <header class="headline">
        {{- partial "content-header.html" . }}
    </header>
    {{ partial "heading-pre.html" . }}{{ partial "heading.html" . }}{{ partial "heading-post.html" . }}

    <div class="section-overview">
        <div class="overview-container" style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 40px;">
            {{ range sort .Pages "Weight" }}
            <a href="{{ .Permalink }}" class="overview-card">
                <div class="overview-content">
                    <img src="{{ .Param `featuredImage` }}" alt="{{ .Title }}" width="auto" />
                    <h3 class="overview-title">{{ .Title }}</h3>
                </div>
            </a>
            {{ end }}
        </div>
    </div>

    <footer class="footline">
        {{- partial "content-footer.html" . }}
    </footer>
</article>